web-deposit/
wrkzcoin_tipbot/_DOGE_addresses_to_tbl_doge_addresses.py
wrkzcoin_tipbot/NetMonDaemons.py
config.yml
wrkzcoin_tipbot/_priv/
wrkzcoin_tipbot/test.py
wrkzcoin_tipbot/store_test.py
wrkzcoin_tipbot/merge_cn.py
wrkzcoin_tipbot/_DOGE_addresses_import.py

redeem.bot.tips/config.php
deposit.bot.tips/config.php
