web-deposit/
config.yml

redeem.bot.tips/config.php
deposit.bot.tips/config.php
wrkzcoin_tipbot/tb/test.py
wrkzcoin_tipbot/tb/*.gif

testing_note.txt
wrkzcoin_tipbot/testing_notes/*
wrkzcoin_tipbot/coin_bot_reward_games.sql
wrkzcoin_tipbot/migration_to_v2.py
wrkzcoin_tipbot/migrating.txt
wrkzcoin_tipbot/TGBot.py
